//! **************************************************************************
// Written by: Map O.61xd on Fri Jan 24 15:20:36 2014
//! **************************************************************************

SCHEMATIC START;
COMP "MemWR" LOCATE = SITE "M16" LEVEL 1;
COMP "RamCS" LOCATE = SITE "L15" LEVEL 1;
COMP "An0" LOCATE = SITE "N16" LEVEL 1;
COMP "An1" LOCATE = SITE "N15" LEVEL 1;
COMP "An2" LOCATE = SITE "P18" LEVEL 1;
COMP "An3" LOCATE = SITE "P17" LEVEL 1;
COMP "Ca" LOCATE = SITE "T17" LEVEL 1;
COMP "Cb" LOCATE = SITE "T18" LEVEL 1;
COMP "Cc" LOCATE = SITE "U17" LEVEL 1;
COMP "FlashCS" LOCATE = SITE "L17" LEVEL 1;
COMP "Cd" LOCATE = SITE "U18" LEVEL 1;
COMP "Ce" LOCATE = SITE "M14" LEVEL 1;
COMP "Cf" LOCATE = SITE "N14" LEVEL 1;
COMP "CLKPORT" LOCATE = SITE "V10" LEVEL 1;
COMP "Cg" LOCATE = SITE "L14" LEVEL 1;
COMP "Dp" LOCATE = SITE "M13" LEVEL 1;
COMP "QuadSpiFlashCS" LOCATE = SITE "V3" LEVEL 1;
COMP "SW0" LOCATE = SITE "T10" LEVEL 1;
COMP "BtnC" LOCATE = SITE "B8" LEVEL 1;
COMP "MemOE" LOCATE = SITE "L18" LEVEL 1;
COMP "LD0" LOCATE = SITE "U16" LEVEL 1;
COMP "LD1" LOCATE = SITE "V16" LEVEL 1;
COMP "LD2" LOCATE = SITE "U15" LEVEL 1;
COMP "LD3" LOCATE = SITE "V15" LEVEL 1;
COMP "LD4" LOCATE = SITE "M11" LEVEL 1;
COMP "LD5" LOCATE = SITE "N11" LEVEL 1;
COMP "LD6" LOCATE = SITE "R11" LEVEL 1;
COMP "LD7" LOCATE = SITE "T11" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "XLXI_5/BUFG" BEL "XLXI_185/Q_0" BEL "XLXI_185/Q_1"
        BEL "XLXI_1/Q_0" BEL "XLXI_1/Q_1" BEL "XLXI_1/Q_2" BEL "XLXI_1/Q_3"
        BEL "XLXI_1/Q_4" BEL "XLXI_1/Q_5" BEL "XLXI_1/Q_6" BEL "XLXI_1/Q_7"
        BEL "XLXI_2/Q_0" BEL "XLXI_2/Q_1" BEL "XLXI_2/Q_2" BEL "XLXI_2/Q_3"
        BEL "XLXI_2/Q_4" BEL "XLXI_2/Q_5" BEL "XLXI_2/Q_6" BEL "XLXI_2/Q_7"
        BEL "XLXI_2/Q_8" BEL "XLXI_2/Q_9" BEL "XLXI_2/Q_10" BEL "XLXI_2/Q_11"
        BEL "XLXI_2/Q_12" BEL "XLXI_2/Q_13" BEL "XLXI_2/Q_14" BEL
        "XLXI_2/Q_15";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

