//! **************************************************************************
// Written by: Map O.61xd on Fri Mar 07 15:36:08 2014
//! **************************************************************************

SCHEMATIC START;
COMP "Ca" LOCATE = SITE "T17" LEVEL 1;
COMP "Cb" LOCATE = SITE "T18" LEVEL 1;
COMP "Cc" LOCATE = SITE "U17" LEVEL 1;
COMP "Cd" LOCATE = SITE "U18" LEVEL 1;
COMP "Ce" LOCATE = SITE "M14" LEVEL 1;
COMP "Cf" LOCATE = SITE "N14" LEVEL 1;
COMP "Cg" LOCATE = SITE "L14" LEVEL 1;
COMP "Dp" LOCATE = SITE "M13" LEVEL 1;
COMP "An0" LOCATE = SITE "N16" LEVEL 1;
COMP "An1" LOCATE = SITE "N15" LEVEL 1;
COMP "An2" LOCATE = SITE "P18" LEVEL 1;
COMP "An3" LOCATE = SITE "P17" LEVEL 1;
COMP "Ld0" LOCATE = SITE "U16" LEVEL 1;
COMP "Ld1" LOCATE = SITE "V16" LEVEL 1;
COMP "Ld2" LOCATE = SITE "U15" LEVEL 1;
COMP "Ld3" LOCATE = SITE "V15" LEVEL 1;
COMP "Ld4" LOCATE = SITE "M11" LEVEL 1;
COMP "Ld5" LOCATE = SITE "N11" LEVEL 1;
COMP "Ld6" LOCATE = SITE "R11" LEVEL 1;
COMP "Ld7" LOCATE = SITE "T11" LEVEL 1;
COMP "Sw0" LOCATE = SITE "T10" LEVEL 1;
COMP "Sw1" LOCATE = SITE "T9" LEVEL 1;
COMP "Sw2" LOCATE = SITE "V9" LEVEL 1;
COMP "Sw3" LOCATE = SITE "M8" LEVEL 1;
COMP "Sw4" LOCATE = SITE "N8" LEVEL 1;
COMP "Sw5" LOCATE = SITE "U8" LEVEL 1;
COMP "Sw6" LOCATE = SITE "V8" LEVEL 1;
COMP "Sw7" LOCATE = SITE "T5" LEVEL 1;
COMP "ClkPort" LOCATE = SITE "V10" LEVEL 1;
COMP "FlashCS" LOCATE = SITE "L17" LEVEL 1;
COMP "BtnC" LOCATE = SITE "B8" LEVEL 1;
COMP "BtnD" LOCATE = SITE "C9" LEVEL 1;
COMP "BtnL" LOCATE = SITE "C4" LEVEL 1;
COMP "BtnR" LOCATE = SITE "D9" LEVEL 1;
COMP "BtnU" LOCATE = SITE "A8" LEVEL 1;
COMP "MemOE" LOCATE = SITE "L18" LEVEL 1;
COMP "MemWR" LOCATE = SITE "M16" LEVEL 1;
COMP "RamCS" LOCATE = SITE "L15" LEVEL 1;
COMP "QuadSpiFlashCS" LOCATE = SITE "V3" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "Ain_0" BEL "Ain_1" BEL "Ain_2" BEL "Ain_3" BEL
        "Ain_4" BEL "Ain_5" BEL "Ain_6" BEL "Ain_7" BEL "Bin_0" BEL "Bin_1"
        BEL "Bin_2" BEL "Bin_3" BEL "Bin_4" BEL "Bin_5" BEL "Bin_6" BEL
        "Bin_7" BEL "A_bar_slash_B" BEL "DIV_CLK_0" BEL "DIV_CLK_1" BEL
        "DIV_CLK_2" BEL "DIV_CLK_3" BEL "DIV_CLK_4" BEL "DIV_CLK_5" BEL
        "DIV_CLK_6" BEL "DIV_CLK_7" BEL "DIV_CLK_8" BEL "DIV_CLK_9" BEL
        "DIV_CLK_10" BEL "DIV_CLK_11" BEL "DIV_CLK_12" BEL "DIV_CLK_13" BEL
        "DIV_CLK_14" BEL "DIV_CLK_15" BEL "DIV_CLK_16" BEL "DIV_CLK_17" BEL
        "DIV_CLK_18" BEL "DIV_CLK_19" BEL "BUFGP1/BUFG" BEL
        "ee201_debouncer_1/state_FSM_FFd1" BEL
        "ee201_debouncer_1/state_FSM_FFd2" BEL
        "ee201_debouncer_1/state_FSM_FFd3" BEL
        "ee201_debouncer_1/state_FSM_FFd4" BEL
        "ee201_debouncer_1/state_FSM_FFd5" BEL
        "ee201_debouncer_1/state_FSM_FFd6" BEL
        "ee201_debouncer_1/MCEN_count_3" BEL "ee201_debouncer_1/MCEN_count_2"
        BEL "ee201_debouncer_1/MCEN_count_1" BEL
        "ee201_debouncer_1/MCEN_count_0" BEL
        "ee201_debouncer_1/debounce_count_27" BEL
        "ee201_debouncer_1/debounce_count_26" BEL
        "ee201_debouncer_1/debounce_count_25" BEL
        "ee201_debouncer_1/debounce_count_24" BEL
        "ee201_debouncer_1/debounce_count_23" BEL
        "ee201_debouncer_1/debounce_count_22" BEL
        "ee201_debouncer_1/debounce_count_21" BEL
        "ee201_debouncer_1/debounce_count_20" BEL
        "ee201_debouncer_1/debounce_count_19" BEL
        "ee201_debouncer_1/debounce_count_18" BEL
        "ee201_debouncer_1/debounce_count_17" BEL
        "ee201_debouncer_1/debounce_count_16" BEL
        "ee201_debouncer_1/debounce_count_15" BEL
        "ee201_debouncer_1/debounce_count_14" BEL
        "ee201_debouncer_1/debounce_count_13" BEL
        "ee201_debouncer_1/debounce_count_12" BEL
        "ee201_debouncer_1/debounce_count_11" BEL
        "ee201_debouncer_1/debounce_count_10" BEL
        "ee201_debouncer_1/debounce_count_9" BEL
        "ee201_debouncer_1/debounce_count_8" BEL
        "ee201_debouncer_1/debounce_count_7" BEL
        "ee201_debouncer_1/debounce_count_6" BEL
        "ee201_debouncer_1/debounce_count_5" BEL
        "ee201_debouncer_1/debounce_count_4" BEL
        "ee201_debouncer_1/debounce_count_3" BEL
        "ee201_debouncer_1/debounce_count_2" BEL
        "ee201_debouncer_1/debounce_count_1" BEL
        "ee201_debouncer_1/debounce_count_0" BEL
        "ee201_debouncer_0/state_FSM_FFd1" BEL
        "ee201_debouncer_0/state_FSM_FFd2" BEL
        "ee201_debouncer_0/state_FSM_FFd3" BEL
        "ee201_debouncer_0/state_FSM_FFd4" BEL
        "ee201_debouncer_0/state_FSM_FFd5" BEL
        "ee201_debouncer_0/state_FSM_FFd6" BEL
        "ee201_debouncer_0/MCEN_count_3" BEL "ee201_debouncer_0/MCEN_count_2"
        BEL "ee201_debouncer_0/MCEN_count_1" BEL
        "ee201_debouncer_0/MCEN_count_0" BEL
        "ee201_debouncer_0/debounce_count_27" BEL
        "ee201_debouncer_0/debounce_count_26" BEL
        "ee201_debouncer_0/debounce_count_25" BEL
        "ee201_debouncer_0/debounce_count_24" BEL
        "ee201_debouncer_0/debounce_count_23" BEL
        "ee201_debouncer_0/debounce_count_22" BEL
        "ee201_debouncer_0/debounce_count_21" BEL
        "ee201_debouncer_0/debounce_count_20" BEL
        "ee201_debouncer_0/debounce_count_19" BEL
        "ee201_debouncer_0/debounce_count_18" BEL
        "ee201_debouncer_0/debounce_count_17" BEL
        "ee201_debouncer_0/debounce_count_16" BEL
        "ee201_debouncer_0/debounce_count_15" BEL
        "ee201_debouncer_0/debounce_count_14" BEL
        "ee201_debouncer_0/debounce_count_13" BEL
        "ee201_debouncer_0/debounce_count_12" BEL
        "ee201_debouncer_0/debounce_count_11" BEL
        "ee201_debouncer_0/debounce_count_10" BEL
        "ee201_debouncer_0/debounce_count_9" BEL
        "ee201_debouncer_0/debounce_count_8" BEL
        "ee201_debouncer_0/debounce_count_7" BEL
        "ee201_debouncer_0/debounce_count_6" BEL
        "ee201_debouncer_0/debounce_count_5" BEL
        "ee201_debouncer_0/debounce_count_4" BEL
        "ee201_debouncer_0/debounce_count_3" BEL
        "ee201_debouncer_0/debounce_count_2" BEL
        "ee201_debouncer_0/debounce_count_1" BEL
        "ee201_debouncer_0/debounce_count_0" BEL
        "ee201_debouncer_2/state_FSM_FFd1" BEL
        "ee201_debouncer_2/state_FSM_FFd2" BEL
        "ee201_debouncer_2/state_FSM_FFd3" BEL
        "ee201_debouncer_2/state_FSM_FFd4" BEL
        "ee201_debouncer_2/state_FSM_FFd5" BEL
        "ee201_debouncer_2/state_FSM_FFd6" BEL
        "ee201_debouncer_2/MCEN_count_3" BEL "ee201_debouncer_2/MCEN_count_2"
        BEL "ee201_debouncer_2/MCEN_count_1" BEL
        "ee201_debouncer_2/MCEN_count_0" BEL
        "ee201_debouncer_2/debounce_count_27" BEL
        "ee201_debouncer_2/debounce_count_26" BEL
        "ee201_debouncer_2/debounce_count_25" BEL
        "ee201_debouncer_2/debounce_count_24" BEL
        "ee201_debouncer_2/debounce_count_23" BEL
        "ee201_debouncer_2/debounce_count_22" BEL
        "ee201_debouncer_2/debounce_count_21" BEL
        "ee201_debouncer_2/debounce_count_20" BEL
        "ee201_debouncer_2/debounce_count_19" BEL
        "ee201_debouncer_2/debounce_count_18" BEL
        "ee201_debouncer_2/debounce_count_17" BEL
        "ee201_debouncer_2/debounce_count_16" BEL
        "ee201_debouncer_2/debounce_count_15" BEL
        "ee201_debouncer_2/debounce_count_14" BEL
        "ee201_debouncer_2/debounce_count_13" BEL
        "ee201_debouncer_2/debounce_count_12" BEL
        "ee201_debouncer_2/debounce_count_11" BEL
        "ee201_debouncer_2/debounce_count_10" BEL
        "ee201_debouncer_2/debounce_count_9" BEL
        "ee201_debouncer_2/debounce_count_8" BEL
        "ee201_debouncer_2/debounce_count_7" BEL
        "ee201_debouncer_2/debounce_count_6" BEL
        "ee201_debouncer_2/debounce_count_5" BEL
        "ee201_debouncer_2/debounce_count_4" BEL
        "ee201_debouncer_2/debounce_count_3" BEL
        "ee201_debouncer_2/debounce_count_2" BEL
        "ee201_debouncer_2/debounce_count_1" BEL
        "ee201_debouncer_2/debounce_count_0" BEL "ee201_GCD_1/state_FSM_FFd2"
        BEL "ee201_GCD_1/state_FSM_FFd1" BEL "ee201_GCD_1/AB_GCD_7" BEL
        "ee201_GCD_1/AB_GCD_6" BEL "ee201_GCD_1/AB_GCD_5" BEL
        "ee201_GCD_1/AB_GCD_4" BEL "ee201_GCD_1/AB_GCD_3" BEL
        "ee201_GCD_1/AB_GCD_2" BEL "ee201_GCD_1/AB_GCD_1" BEL
        "ee201_GCD_1/AB_GCD_0" BEL "ee201_GCD_1/B_7" BEL "ee201_GCD_1/B_6" BEL
        "ee201_GCD_1/B_5" BEL "ee201_GCD_1/B_4" BEL "ee201_GCD_1/B_3" BEL
        "ee201_GCD_1/B_2" BEL "ee201_GCD_1/B_1" BEL "ee201_GCD_1/B_0" BEL
        "ee201_GCD_1/A_7" BEL "ee201_GCD_1/A_6" BEL "ee201_GCD_1/A_5" BEL
        "ee201_GCD_1/A_4" BEL "ee201_GCD_1/A_3" BEL "ee201_GCD_1/A_2" BEL
        "ee201_GCD_1/A_1" BEL "ee201_GCD_1/A_0" BEL "ee201_GCD_1/i_count_7"
        BEL "ee201_GCD_1/i_count_6" BEL "ee201_GCD_1/i_count_5" BEL
        "ee201_GCD_1/i_count_4" BEL "ee201_GCD_1/i_count_3" BEL
        "ee201_GCD_1/i_count_2" BEL "ee201_GCD_1/i_count_1" BEL
        "ee201_GCD_1/i_count_0" BEL "ee201_GCD_1/B_0_1" BEL
        "ee201_GCD_1/A_0_1" BEL "ee201_GCD_1/A_7_1" BEL "ee201_GCD_1/B_7_1"
        BEL "ee201_GCD_1/A_6_1" BEL "ee201_GCD_1/state_FSM_FFd2_1" BEL
        "ee201_GCD_1/A_7_2";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

