//! **************************************************************************
// Written by: Map O.61xd on Fri Apr 11 09:55:13 2014
//! **************************************************************************

SCHEMATIC START;
COMP "MemWR" LOCATE = SITE "M16" LEVEL 1;
COMP "Sw0" LOCATE = SITE "T10" LEVEL 1;
COMP "Sw1" LOCATE = SITE "T9" LEVEL 1;
COMP "RamCS" LOCATE = SITE "L15" LEVEL 1;
COMP "Sw2" LOCATE = SITE "V9" LEVEL 1;
COMP "Sw3" LOCATE = SITE "M8" LEVEL 1;
COMP "Sw4" LOCATE = SITE "N8" LEVEL 1;
COMP "Sw5" LOCATE = SITE "U8" LEVEL 1;
COMP "Sw6" LOCATE = SITE "V8" LEVEL 1;
COMP "Sw7" LOCATE = SITE "T5" LEVEL 1;
COMP "An0" LOCATE = SITE "N16" LEVEL 1;
COMP "An1" LOCATE = SITE "N15" LEVEL 1;
COMP "An2" LOCATE = SITE "P18" LEVEL 1;
COMP "An3" LOCATE = SITE "P17" LEVEL 1;
COMP "Ca" LOCATE = SITE "T17" LEVEL 1;
COMP "Cb" LOCATE = SITE "T18" LEVEL 1;
COMP "Cc" LOCATE = SITE "U17" LEVEL 1;
COMP "Cd" LOCATE = SITE "U18" LEVEL 1;
COMP "FlashCS" LOCATE = SITE "L17" LEVEL 1;
COMP "Ce" LOCATE = SITE "M14" LEVEL 1;
COMP "Cf" LOCATE = SITE "N14" LEVEL 1;
COMP "Cg" LOCATE = SITE "L14" LEVEL 1;
COMP "Dp" LOCATE = SITE "M13" LEVEL 1;
COMP "Ld0" LOCATE = SITE "U16" LEVEL 1;
COMP "QuadSpiFlashCS" LOCATE = SITE "V3" LEVEL 1;
COMP "Ld1" LOCATE = SITE "V16" LEVEL 1;
COMP "Ld2" LOCATE = SITE "U15" LEVEL 1;
COMP "Ld3" LOCATE = SITE "V15" LEVEL 1;
COMP "Ld4" LOCATE = SITE "M11" LEVEL 1;
COMP "Ld5" LOCATE = SITE "N11" LEVEL 1;
COMP "Ld6" LOCATE = SITE "R11" LEVEL 1;
COMP "Ld7" LOCATE = SITE "T11" LEVEL 1;
COMP "BtnC" LOCATE = SITE "B8" LEVEL 1;
COMP "BtnD" LOCATE = SITE "C9" LEVEL 1;
COMP "BtnL" LOCATE = SITE "C4" LEVEL 1;
COMP "MemOE" LOCATE = SITE "L18" LEVEL 1;
COMP "ClkPort" LOCATE = SITE "V10" LEVEL 1;
COMP "BtnR" LOCATE = SITE "D9" LEVEL 1;
COMP "BtnU" LOCATE = SITE "A8" LEVEL 1;
TIMEGRP LED_GROUP = BEL "Ld0" BEL "Ld1" BEL "Ld2" BEL "Ld3" BEL "Ld4" BEL
        "Ld5" BEL "Ld6" BEL "Ld7";
TIMEGRP SSD_GROUP = BEL "An0" BEL "An1" BEL "An2" BEL "An3" BEL "Ca" BEL "Cb"
        BEL "Cc" BEL "Cd" BEL "Ce" BEL "Cf" BEL "Cg" BEL "Dp";
NET "ClkPort_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
TIMEGRP "FFS" = FFS(*);
PATH TS_LD_path = FROM TIMEGRP "FFS" TO TIMEGRP "LED_GROUP";
PATH "TS_LD_path" TIG;
PATH TS_SSD_path = FROM TIMEGRP "FFS" TO TIMEGRP "SSD_GROUP";
PATH "TS_SSD_path" TIG;
PIN BtnL_pins<0> = BEL "BtnL" PINNAME PAD;
PIN BtnR_pins<0> = BEL "BtnR" PINNAME PAD;
PIN BtnC_pins<0> = BEL "BtnC" PINNAME PAD;
PIN Sw0_pins<0> = BEL "Sw0" PINNAME PAD;
PIN Sw1_pins<0> = BEL "Sw1" PINNAME PAD;
PIN Sw2_pins<0> = BEL "Sw2" PINNAME PAD;
PIN Sw3_pins<0> = BEL "Sw3" PINNAME PAD;
PIN Sw4_pins<0> = BEL "Sw4" PINNAME PAD;
PIN Sw5_pins<0> = BEL "Sw5" PINNAME PAD;
PIN Sw6_pins<0> = BEL "Sw6" PINNAME PAD;
PIN Sw7_pins<0> = BEL "Sw7" PINNAME PAD;
PIN BtnU_pins<0> = BEL "BtnU" PINNAME PAD;
PIN BtnD_pins<0> = BEL "BtnD" PINNAME PAD;
PIN "BtnL_pins<0>" TIG;
PIN "BtnR_pins<0>" TIG;
PIN "BtnC_pins<0>" TIG;
PIN "Sw0_pins<0>" TIG;
PIN "Sw1_pins<0>" TIG;
PIN "Sw2_pins<0>" TIG;
PIN "Sw3_pins<0>" TIG;
PIN "Sw4_pins<0>" TIG;
PIN "Sw5_pins<0>" TIG;
PIN "Sw6_pins<0>" TIG;
PIN "Sw7_pins<0>" TIG;
PIN "BtnU_pins<0>" TIG;
PIN "BtnD_pins<0>" TIG;
SCHEMATIC END;

